.message_container{
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
}
.message_data{
    display: flex;
    /* border: 2px solid teal; */
    height: 80vh;
    align-self: center;
    width: 100vw;

}
.message_feed{
    display: flex;
    flex-direction: column;
    /* border: 2px solid brown; */
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
}
.message_feed > h2{
    /* border: 2px solid coral; */
    text-align: center;
    font-size: 3em;
    letter-spacing: .1em;
}
#name,#mail{
    border: 2px solid gray !important;
    margin-left: 1em;
    width: 20vw;
    height: 4vh;
    
}
.p{
    /* opacity: .2; */
    z-index: 999;
    
    
}
.p::before{
    content: "";
    /* height: 80vh;
    width: 59vw; */
    position: absolute;
    background-color: black;
    opacity: .4;
    z-index: -1;

}
.message_map{
    /* border: 2px solid magenta; */
    height: 20vh;
    width: 58vw;
    
}
textarea{
    border:2px solid rgba(0,0,0,.15) !important;

}









